{% include "base.html.twig" %}

<!-- Begin Page Content -->
<div class="container-fluid">

    <!-- Page Heading -->
    <h1 class="h3 mb-4 text-gray-800">Bem vindo a área logado do sistema</h1>
    <h1 class="h3 mb-4 text-gray-800">Escolha no menu lateral a funcionalidade desejada</h1>

    <div class="row">

    </div>
</div>

<!-- End of Main Content -->

{% include "footer.html.twig" %}s









