{% include "base.html.twig" %}

<!-- Begin Page Content -->
<div class="container-fluid">

        <!-- Page Heading -->
        <h1 class="h3 mb-4 text-gray-800">Cadastro de Usuários</h1>

        <div class="d-sm-flex align-items-center justify-content-between mb-4">
                {{ form_start(form) }}
                {{ form_widget(form) }}

                <input class="btn btn-success btn-icon-split" type="submit"/>

                {{ form_end(form) }}

        </div>
</div>

<!-- End of Main Content -->

{% include "footer.html.twig" %}s









